In [93]:
import numpy as np
import xarray as xr
import pandas as pd

In [123]:
import sys
sys.path.append('./../Scripts')
import inv_flux as invf

In [204]:
import importlib as ilib
ilib.reload(invf)

In [205]:
Rayner = './../data/fco2_Rayner-C13-2018_June2018-ext3_1992-2012_monthlymean_XYT.nc'
df = invf.TheDataFrame(data=Rayner)

In [160]:
type(df)

inv_flux.TheDataFrame

In [181]:
s=df.spatial_integration()

In [163]:
df.year_integration()

,Year,earth_land_total,south_land_total,trop_land_total,north_land_total,earth_ocean_total,south_ocean_total,trop_ocean_total,north_ocean_total
0,1992,-2.44695,0.224023,-0.81209,-1.85888,-0.252198,0.51051,-0.483421,-0.279286
1,1993,-3.34941,-0.368533,-0.369603,-2.61127,1.24133,1.07817,-0.0101273,0.173287
2,1994,-0.734497,0.292096,0.573278,-1.59987,0.112975,0.57777,-0.471583,0.00678795
3,1995,-0.811956,-0.244602,1.26042,-1.82777,0.225526,0.797611,-0.461935,-0.11015
4,1996,-2.30852,-0.238651,-0.371002,-1.69887,0.396192,0.74824,-0.334994,-0.017055
5,1997,-0.534001,0.393517,1.15454,-2.08206,-0.466631,0.221819,-0.617863,-0.0705875
6,1998,1.01841,0.683573,2.2621,-1.92727,-0.426082,0.18317,-0.629241,0.0199884
7,1999,-2.13609,0.0547002,0.197585,-2.38837,0.143578,0.500371,-0.428802,0.0720088
8,2000,-2.13503,-0.394168,0.295049,-2.03592,0.298124,0.549731,-0.291496,0.0398891
9,2001,-2.04285,-0.201406,0.290846,-2.13229,0.201494,0.691956,-0.46857,-0.0218921
10,2002,-0.415532,0.0792672,1.06597,-1.56077,0.0892122,0.768321,-0.471581,-0.207527
11,2003,-1.01934,-0.0331783,0.328092,-1.31425,-0.0198941,0.580932,-0.343404,-0.257422
12,2004,-2.48687,-0.0484896,0.0272704,-2.46565,0.189821,0.762688,-0.322493,-0.250374
13,2005,-0.965314,0.0869331,1.36334,-2.41559,-0.119464,0.462407,-0.426171,-0.1557
14,2006,-2.95286,-0.314295,-0.38331,-2.25526,-0.304833,0.583911,-0.614549,-0.274196
15,2007,-1.8193,-0.0369875,1.23391,-3.01622,-0.273511,0.546213,-0.441155,-0.378569
16,2008,-3.523,-0.154689,-0.337786,-3.03052,0.0924152,0.607006,-0.401914,-0.112676
17,2009,-3.00637,-0.284022,0.609948,-3.3323,-0.396403,0.388138,-0.550843,-0.233699
18,2010,-2.5141,-0.0526179,0.238653,-2.70013,0.0325817,0.409943,-0.362167,-0.015194
19,2011,-4.19234,-0.723568,-0.548307,-2.92046,0.179385,0.621704,-0.330879,-0.11144
20,2012,-2.76836,-0.119956,0.630373,-3.27878,-0.119651,0.339171,-0.356249,-0.102574

In [175]:
t=df.decade_integration()
t.shape

(3, 9)

In [206]:
p=df.whole_time_integration()
p

,earth_land_total,south_land_total,trop_land_total,north_land_total,earth_ocean_total,south_ocean_total,trop_ocean_total,north_ocean_total
0,-41.1443,-1.40105,8.70928,-48.4525,0.823964,11.9298,-8.81944,-2.28638

In [169]:
p.to_csv(r'./../Output/whole_time.csv')

In [172]:
t.to_csv(r'./../Output/decade.csv')

In [208]:
invf.scalar_earth_area(9,10,100,110)

121945878340.89328