In [64]:
import pickle
import pandas as pd

In [65]:
Rayner_reg_land = pickle.load(open('./../Output/output_linreg/Rayner/regression_land.pik', 'rb'))
Rayner_reg_land

{'1992-2001': LinregressResult(slope=0.07512226413579669, intercept=-151.52969035603095, rvalue=0.17990328581738485, pvalue=0.6189530752251279, stderr=0.14522464415288733),
 '2002-2011': LinregressResult(slope=-0.3247972816965547, intercept=649.4162433880207, rvalue=-0.8093827674558631, pvalue=0.004556866505672447, stderr=0.08332201108534462)}

In [66]:
RRL = pd.DataFrame(Rayner_reg_land).iloc[0]; RRL

1992-2001    0.075122
2002-2011   -0.324797
Name: 0, dtype: float64

In [67]:
def slopes(fname):
    data = pickle.load(open('./../Output/output_linreg/'+fname, 'rb'))
    return pd.DataFrame(data).iloc[0]

In [68]:
RRO = slopes('Rayner/regression_ocean.pik'); RRO

1992-2001   -0.031417
2002-2011   -0.006577
Name: 0, dtype: float64

In [69]:
pd.DataFrame({'Rayner_land': RRL, 'Rayner_ocean': RRO})

           Rayner_land  Rayner_ocean
1992-2001     0.075122     -0.031417
2002-2011    -0.324797     -0.006577

In [70]:
CAMS_RL = slopes('CAMS/regression_land.pik'); CAMS_RL

1980-1989   -0.063935
1990-1999    0.150290
2000-2009   -0.198790
2010-2017   -0.006969
Name: 0, dtype: float64

In [71]:
JAMSTEC_RL = slopes('JAMSTEC/regression_land.pik'); JAMSTEC_RL

1996-1999   -0.023391
2000-2009   -0.263751
2010-2017    0.087699
Name: 0, dtype: float64

In [72]:
pd.DataFrame({'Rayner_land': RRL, 'Rayner_ocean': RRO, 'CAMS_land': CAMS_RL, 'JAMSTEC_land':JAMSTEC_RL})

           Rayner_land  Rayner_ocean  CAMS_land  JAMSTEC_land
1980-1989          NaN           NaN  -0.063935           NaN
1990-1999          NaN           NaN   0.150290           NaN
1992-2001     0.075122     -0.031417        NaN           NaN
1996-1999          NaN           NaN        NaN     -0.023391
2000-2009          NaN           NaN  -0.198790     -0.263751
2002-2011    -0.324797     -0.006577        NaN           NaN
2010-2017          NaN           NaN  -0.006969      0.087699

In [73]:
land_fnames = ['Rayner/regression_land.pik', 'CAMS/regression_land.pik', 'JAMSTEC/regression_land.pik',
               'JENA_s76/regression_land.pik', 'JENA_s85/regression_land.pik', 'CTRACKER/regression_land.pik',
               'GCP/regression_land.pik']
ocean_fnames = ['Rayner/regression_ocean.pik', 'CAMS/regression_ocean.pik', 'JAMSTEC/regression_ocean.pik',
                'JENA_s76/regression_ocean.pik', 'JENA_s85/regression_ocean.pik', 'CTRACKER/regression_ocean.pik',
                'GCP/regression_ocean.pik']

In [74]:
land_fnames[4][:-20]

'JENA_s85'

In [75]:
land_slopes = {}
for fname in land_fnames:
    land_slopes[fname[:-20]] = slopes(fname)

land_df = pd.DataFrame(land_slopes)
land_df

,Rayner,CAMS,JAMSTEC,JENA_s76,JENA_s85,CTRACKER,GCP
1960-1970,NaN,NaN,NaN,NaN,NaN,NaN,0.002170
1970-1980,NaN,NaN,NaN,NaN,NaN,NaN,-0.007214
1976-1979,NaN,NaN,NaN,0.168178,NaN,NaN,NaN
1980-1989,NaN,-0.063935,NaN,0.016143,NaN,NaN,NaN
1980-1990,NaN,NaN,NaN,NaN,NaN,NaN,-0.133739
1985-1989,NaN,NaN,NaN,NaN,-0.046049,NaN,NaN
1990-1999,NaN,0.150290,NaN,0.117370,0.164990,NaN,NaN
1990-2000,NaN,NaN,NaN,NaN,NaN,NaN,-0.130179
1992-2001,0.075122,NaN,NaN,NaN,NaN,NaN,NaN
1996-1999,NaN,NaN,-0.023391,NaN,NaN,NaN,NaN
2000-2009,NaN,-0.198790,-0.263751,-0.195260,-0.215677,-0.092409,NaN
2000-2010,NaN,NaN,NaN,NaN,NaN,NaN,-0.054902
2002-2011,-0.324797,NaN,NaN,NaN,NaN,NaN,NaN
2007-2017,NaN,NaN,NaN,NaN,NaN,NaN,0.017829
2010-2017,NaN,-0.006969,0.087699,-0.015714,-0.024863,-0.018194,NaN

In [76]:
ocean_slopes = {}
for fname in ocean_fnames:
    ocean_slopes[fname[:-21]] = slopes(fname)

ocean_df = pd.DataFrame(ocean_slopes)
ocean_df

,Rayner,CAMS,JAMSTEC,JENA_s76,JENA_s85,CTRACKER,GCP
1960-1970,NaN,NaN,NaN,NaN,NaN,NaN,-0.041245
1970-1980,NaN,NaN,NaN,NaN,NaN,NaN,-0.036433
1976-1979,NaN,NaN,NaN,0.059866,NaN,NaN,NaN
1980-1989,NaN,0.019007,NaN,-0.023723,NaN,NaN,NaN
1980-1990,NaN,NaN,NaN,NaN,NaN,NaN,-0.013505
1985-1989,NaN,NaN,NaN,NaN,-0.041847,NaN,NaN
1990-1999,NaN,-0.022457,NaN,0.036004,-0.020667,NaN,NaN
1990-2000,NaN,NaN,NaN,NaN,NaN,NaN,0.000861
1992-2001,-0.031417,NaN,NaN,NaN,NaN,NaN,NaN
1996-1999,NaN,NaN,-0.000098,NaN,NaN,NaN,NaN
2000-2009,NaN,-0.037181,-0.008754,-0.050474,-0.034495,-0.065333,NaN
2000-2010,NaN,NaN,NaN,NaN,NaN,NaN,-0.039325
2002-2011,-0.006577,NaN,NaN,NaN,NaN,NaN,NaN
2007-2017,NaN,NaN,NaN,NaN,NaN,NaN,-0.040011
2010-2017,NaN,-0.011155,-0.046897,0.013709,0.036883,0.033110,NaN

In [77]:
land_df.to_csv('./../Output/output_linreg/reg_land_slopes.csv')
ocean_df.to_csv('./../Output/output_linreg/reg_ocean_slopes.csv')